:local(.styles) {
  margin-top: 10px;
  margin-bottom: 10px;
  .list-group {
    padding: 0px;
    border-radius: 0px;
    li {
      cursor: pointer;
    }
  }
  .list-group-item:first-child {
    border-radius: 0px;
  }
  .ani-collapse {
    -moz-transition : height 5s;
    -webkit-transition : height 5s;
    -o-transition : height 5s;
    transition : height 5s;
  }
}